<footer class="footer">
  <div class="outer" style="color:#777777;">
    <ul>
      <li>
        © 2020 Cui Yu Qin
        <!-- Copyrights &copy;
        <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>
        <i class="ri-heart-fill heart_icon"></i> 
        <%= config.author || config.title %> -->
      </li>
    </ul>
    <ul>
      <li>
        <% if (theme.pageFooter){ %>
        <% var hexoLink = '<a href="https://hexo.io" target="_blank" style="color:#404040;text-decoration: underline;">Hexo</a>'; %>
        <% var themeLink = '<a href="https://github.com/Shen-Yu/hexo-theme-ayer" target="_blank" style="color:#404040;text-decoration: underline;">Ayer</a>'; %>
        <%- __('powered_by', hexoLink) %>
        <span class="division">|</span>
        <%- __('theme', themeLink) %>
        <% } %>
      </li>
    </ul>
    <ul>
      <li>
        <% if (theme.busuanzi && theme.busuanzi.enable){ %>
        <%# "不蒜子统计" %>
        <%- partial('post/busuanzi') %>
        <% } %>
      </li>
    </ul>
    <ul>
      <% if (theme.icp&&theme.icp.enable){ %>
        <li>
          <a href="<%= theme.icp.url %>" target="_black" rel="nofollow"><%= theme.icp.text %></a>
        </li>
        <% } %>
    </ul>
    <ul>
      <% if (theme.gongan&&theme.gongan.enable){ %>
      <li>
          <img src="<%= theme.gongan.img %>"></img>
          <a href="<%= theme.gongan.url %>" target="_black" rel="nofollow"><%= theme.gongan.text %></a>
      </li>
        <% } %>
    </ul>
    <ul>
      <li>
        <!-- 底部图标 -->
        <a href="<%=theme.github.url%>"  target="_black" style="color: rgb(64, 62, 62);"> <i class="ri-github-fill"  ></i> </a>
        <a href="mailto:15920170089@163.com"  target="_black" style="color: rgb(64, 62, 62);"> <i class="ri-mail-fill"></i> </a> 
          
        <!-- <a class="weixin share-sns wxFab" href="javascript:;" data-type="weixin">
          <i class="ri-wechat-fill"></i>
        </a> -->

      </li>
    </ul>
    <ul>
      <li>
        <!-- 建站时间 -->
        <% if (theme.sitetime&&theme.sitetime.enable){ %>
          <i class="ri-heart-fill side_heart_icon"></i> <span id="sitetime"></span><i class="ri-heart-fill side_heart_icon"></i> 
        <% } %>
      </li>
    </ul>

    
    <ul>
      <li>
        <!-- cnzz统计 -->
        <% if (theme.cnzz&&theme.cnzz.enable){ %>
        <script type="text/javascript" src='<%= theme.cnzz.url%>'></script>
        <% } %>
      </li>
    </ul>
    
  </div>
</footer>